head
	title Kevin Doveton
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")

	//- scripts
	script(async type="text/javascript" src="js/vendor.js")
	script(async type="text/javascript" src="js/dist.js")

	//- css
	link(rel="stylesheet", href="css/style.css")
