//
	.
	88   /8/          88
	88  /8/           88
	88 /8/            88
	88/8/     ,dPPYba,88
	88\8\    a8'     "88
	88 \8\   8P       88
	88  \8\  "8,    ,a88
	88   \8\  `"YbbdfD88

	Created by Kevin Doveton