@import "includes/fonts"
@import "includes/base"
@import "includes/variables"

$primary1 : #eb205e
$primary2 : #083b55
$primary3 : #ffffff

$secondary1 : #71bf6e
$secondary2 : #e4c039
$secondary3 : #ef645f
$secondary4 : #88acd6
$secondary5 : #2aa4d8
$secondary6 : #c297c1

$mono1 : #717271
$mono2 : #a2a2a2
$mono3 : #dbdbdb

body
	background-color: $blue
	color: #555
	font-size: 100%
	line-height: 1.5
	margin: 0

.content
	max-width: 1200px
	width: 80%
	margin: 50px auto
	background-color: white
	padding: 1rem
	header
		h1
			font-size: 3em
			text-align: center
			font-weight: 300
			padding: 0.5em

.register
	// width: 10

a.button
	text-decoration: none

button
	outline-width: none
	display: block
	background-color: $secondary1
	min-width: 15em
	min-height: 5em
	margin-left: auto
	margin-right: auto
	p
		color: $secondary3
		text-transform: uppercase
		font-weight: 600
		font-size: 2em
