doctype html
html
	include includes/head

	body
		div.bgcolor
		div.page
			div.title
				div
					h1 About Me
			div.contentbox
				p.
					hello I am Kevin Fugiat veniam elit voluptate magna dolor nisi sint elit laboris duis est commodo velit ea. Exercitation et aliqua dolor aute consectetur magna sint est ea est dolore tempor commodo aliqua veniam dolore.
				p.
					Aliquip aute voluptate consequat dolor in quis enim officia nulla enim aliquip excepteur veniam consequat nostrud laboris nisi. In sint mollit esse magna Lorem est occaecat cillum esse non voluptate commodo ex. Ipsum ullamco in quis tempor esse ad sit aliquip exercitation voluptate amet consequat duis ea.

		include includes/links
