doctype html
html
	include includes/head
	title About // Kevin Doveton

	body#about
		div.bgcolor
		div.page
			div.title
				div
					h1 About Me
			div.contentbox
				include:markdown-it includes/about/main.md

		include includes/links
