doctype html
html
	include includes/head

	body#contact
		div.bgcolor
		div.page
			div.title
				h1 Contact
			div.contentbox
				//- p Contact me at kevindoveton@me.com
				form
					ul
						li
							input(type="text", name="name")
							label Name
						li
							input(type="text", name="email")
							label Email
						li
							textarea(name="message")
							label Message
						li
							button#submitForm Submit

				//- div#spinner
				div#onFormSuccess
					h2 Thanks,
					p I'll be in touch soon!
		include includes/links
