doctype html
html
	include includes/head

	body
		div.bgcolor
		div.page
			div.title
				h1 Contact
			div.contentbox
				p Kevin Doveton
				p
					a(href="mailto:kevindoveton@me.com?subject=Website") kevindoveton@me.com

		include includes/links
