doctype html
html
	include includes/head

	//- TODO: write some backend code for this form

	body#contact
		div.bgcolor
		div.page
			div.title
				h1 Contact
			div.contentbox
				p Contact me at kevindoveton@me.com
				//- form
					ul
						li
							input(type="text", name="name")
							label Name
						li
							input(type="text", name="email")
							label Email
						li
							textarea
							label Message
						li
							button(onclick="submitForm") Submit

				//- div#spinner

				//- h2 Thanks,
				//- p I'll be in touch soon!
		include includes/links
