doctype html
html
	include includes/head

	body#contact
		div.bgcolor
		div.page
			div.title
				h1 Contact
			div.contentbox
				form
					ul
						li
							input(type="text", name="name")
							label Name
						li
							input(type="text", name="email")
							label Email
						li
							textarea
							label Message

						li
							button Submit
				//- include:markdown-it includes/contact/main.md
		include includes/links
