doctype html
html
	include includes/logo
	include includes/head
	title Kevin Doveton // Freelance Web Developer

	body#home
		div.bgcolor
		div.title
			h1 Kevin 
				span.break Doveton
			h2 Freelance Developer

		include includes/links
