doctype html
html
	head
		title= title
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")

		//- scripts
		script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
		script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js")
		script(type="text/javascript" src="js/dist.js")

		//- css
		link(rel="stylesheet", href="css/register.css")
	body
		form

			fieldset
				h1 Thanks for registering
				p If you have any questions please don't hesitate to contact us on 8353 69999
