doctype html
html
	include includes/head

	body#work
		div.bgcolor
		div.page
			div.title
				div
					h1 My Work

			div.contentWork
				ul
					li
						//- img(src="./img/cfc.png")
						img(src="./img/img.png")
						div.workTitle
							h1 Christian Family Centre
							h2 Website
					li
						//- img(src="./img/markslanding.png")
						img(src="./img/img.png")
						div.workTitle
							h1 Marks Landing
							h2 Website

					li
						img(src="./img/img.png")
						div.workTitle
							h1 Car PC
							h2 C++, QT, Bluez, DBus

					li
						img(src="./img/img.png")
						div.workTitle
							h1 Digico Control
							h2 Node, OSC, Websockets


					li
						img(src="./img/img.png")
						div.workTitle
							h1 FLO Login
							h2 JS, HTML


					li
						//- img(src="./img/cfcyth.png")
						img(src="./img/img.png")
						div.workTitle
							h1 CFC Youth
							h2 Website

					//- li
					//- 	img(src="./img/img.png")
					//- 	div.workTitle
					//- 		h1 Disk Edits
					//- 		h2 Internal Site Modification (PHP, JS)
		include includes/links
