doctype html
html
	include includes/head

	body
		div.bgcolor
		div.page
			div.title
				div
					h1 My Work

			div.contentWork
				ul
					li
						img(src="img/img.png")
						div.workTitle
							h1 Christian Family Centre
							h2 Website
						p.
							Ceprerum, occupis secae res de inciderspid quas ius erem illupta ipsae parum, quam a volupta quis quidel eserum, to cus a experrumet magnaturem dolor accus nonseque ratia qui ilit optatet unda comnim qui te dolorep udignis et aliae volorem et dolumet la doluptatin remporesti temquis millecum aut fuga. Itatiume prepudis arum res mos atissinciur, voluptam

					li
						img(src="img/img.png")
						div.workTitle
							h1 Marks Landing
							h2 Website
						p.
							Uga. Ut quidel id ut evellori quibusda cust, sin et quis volendictem invelia volores ad et idi dolest lam ut quam qui solupta eaquodia solore que eatem quam, arum ut ut verit parunt assitate quibustrum aut etur autem quatum as ulparunt

					li
						img(src="img/img.png")
						div.workTitle
							h1 Car PC
							h2 C++, QT, Bluez, DBus
						p.
							Qui nonseque impeligendae num ea nonserchil ipsanducium ut volestrum nem atis dolluptatem everum que eostis ium vel id modis rae et repuditia pa si odi quis explatiunt, voles dis sum qui recae accatque voluptae voluptin et exerum eosam re expe volent dolecat aut andis esti omnit molorerae dionse vitate optam, quo te debis dustrunt rem quibust voloratur simentis inullaccum everae nobis evere accaturio etur?

					li
						img(src="img/img.png")
						div.workTitle
							h1 Digico Control
							h2 Node, OSC, Websockets
						p.
							Qui nonseque impeligendae num ea nonserchil ipsanducium ut volestrum nem atis dolluptatem everum que eostis ium vel id modis rae et repuditia pa si odi quis explatiunt, voles dis sum qui recae accatque voluptae voluptin et exerum eosam re expe volent dolecat aut andis esti omnit molorerae dionse vitate optam, quo te debis dustrunt rem quibust voloratur simentis inullaccum everae nobis evere accaturio etur?

					li
						img(src="img/img.png")
						div.workTitle
							h1 FLO Login
							h2 JS, HTML
						p.
							Qui nonseque impeligendae num ea nonserchil ipsanducium ut volestrum nem atis dolluptatem everum que eostis ium vel id modis rae et repuditia pa si odi quis explatiunt, voles dis sum qui recae accatque voluptae voluptin et exerum eosam re expe volent dolecat aut andis esti omnit molorerae dionse vitate optam, quo te debis dustrunt rem quibust voloratur simentis inullaccum everae nobis evere accaturio etur?

					li
						img(src="img/img.png")
						div.workTitle
							h1 CFC Youth
							h2 Website
						p.
							Qui nonseque impeligendae num ea nonserchil ipsanducium ut volestrum nem atis dolluptatem everum que eostis ium vel id modis rae et repuditia pa si odi quis explatiunt, voles dis sum qui recae accatque voluptae voluptin et exerum eosam re expe volent dolecat aut andis esti omnit molorerae dionse vitate optam, quo te debis dustrunt rem quibust voloratur simentis inullaccum everae nobis evere accaturio etur?

					li
						img(src="img/img.png")
						div.workTitle
							h1 Disk Edits
							h2 Internal Site Modification (PHP, JS)
						p.
							Qui nonseque impeligendae num ea nonserchil ipsanducium ut volestrum nem atis dolluptatem everum que eostis ium vel id modis rae et repuditia pa si odi quis explatiunt, voles dis sum qui recae accatque voluptae voluptin et exerum eosam re expe volent dolecat aut andis esti omnit molorerae dionse vitate optam, quo te debis dustrunt rem quibust voloratur simentis inullaccum everae nobis evere accaturio etur?
		include includes/links
