//- TODO: links don't work in markdown-it, break from span
doctype html
html
	include includes/head

	body#work
		div.bgcolor
		div.page
			div.title
				div
					h1 My Work

			div.contentWork
				ul
					a(onclick="openWorkModal(this)")
						span.modalContent
							include:markdown-it includes/work/cfc.md
						li
							img(src="./img/cfc.jpg")
							div.workTitle
								h1 Christian Family Centre
								h2 Website

					a(onclick="openWorkModal(this)")
						span.modalContent
							include:markdown-it includes/work/markslanding.md
						li
							img(src="./img/markslanding.jpg")
							div.workTitle
								h1 Marks Landing
								h2 Website

					a(onclick="openWorkModal(this)")
						span.modalContent
							include:markdown-it includes/work/carpc.md
						li
							img(src="./img/carpc.jpg")
							div.workTitle
								h1 Car PC
								h2 Embedded System


					a(onclick="openWorkModal(this)")
						span.modalContent
							include:markdown-it includes/work/digicocontrol.md
						li
							img(src="./img/digicocontrol.jpg")
							div.workTitle
								h1 Digico Control
								h2 iOS / Android App

					a(onclick="openWorkModal(this)")
						span.modalContent
							include:markdown-it includes/work/flologin.md
						li
							img(src="./img/flologin.jpg")
							div.workTitle
								h1 FLO Login
								h2 Browser Extension

					a(onclick="openWorkModal(this)")
						span.modalContent
							include:markdown-it includes/work/cfcyouth.md
						li
							img(src="./img/cfcyth.jpg")
							div.workTitle
								h1 CFC Youth
								h2 Website

					a(onclick="openWorkModal(this)")
						span.modalContent
							include:markdown-it includes/work/cfcapp.md
						li
							img(src="./img/cfcapp.jpg")
							div.workTitle
								h1 CFC App
								h2 iOS / Android Apps

					//- li
					//- 	img(src="./img/img.png")
					//- 	div.workTitle
					//- 		h1 Disk Edits
					//- 		h2 Internal Site Modification (PHP, JS)

		div.workInfo
			div.content
				div#modalContent

				//- we need a 'relative' div to hold the
				//- close otherwise absolute won't work
				div.close
					a(onclick="closeWorkModal()")
						p.close Close

		include includes/links
