doctype html
html
	include includes/head

	body
		div.bgcolor
		div.page
			div.title
				div
					h1 My Work

			div.contentWork
				ul
					li
						img(src="img/img.png")
						div.workTitle
							h1 Christian Family Centre
							h2 Website
						p
							include includes/work/cfc.md

					li
						img(src="img/img.png")
						div.workTitle
							h1 Marks Landing
							h2 Website
						p
							include includes/work/markslanding.md

					li
						img(src="img/img.png")
						div.workTitle
							h1 Car PC
							h2 C++, QT, Bluez, DBus
						p
							include includes/work/carpc.md

					li
						img(src="img/img.png")
						div.workTitle
							h1 Digico Control
							h2 Node, OSC, Websockets
						p
							include includes/work/digicocontrol.md

					li
						img(src="img/img.png")
						div.workTitle
							h1 FLO Login
							h2 JS, HTML
						p
							include includes/work/flologin.md

					li
						img(src="img/img.png")
						div.workTitle
							h1 CFC Youth
							h2 Website
						p
							include includes/work/cfcyouth.md

					li
						img(src="img/img.png")
						div.workTitle
							h1 Disk Edits
							h2 Internal Site Modification (PHP, JS)
						p
							include includes/work/diskedits.md
		include includes/links
