.links
	position: absolute
	bottom: 50px
	width: 100%
	text-align: center
	color: $white
	font-weight: normal
	font-family: 'Helvetica Neue'
	letter-spacing: 2px

	a, a:visited, a:link, a:not(:visited)
		color: inherit
		text-decoration: none
	ul
		width: 100%
		li
			display: inline-block
			margin-right: 5%
			margin-left: 5%
			// height: 50px
			text-transform: uppercase

		li.active
			border-bottom: 3px solid $white
