div.contentWork
	position: absolute
	top: 5em
	left: 0
	padding-bottom: 3em

	ul
		li
			overflow: hidden
			list-style: none
			width: 100%
			margin-left: auto
			margin-right: auto
			color: $white
			// min-height: 15em
			padding-left: 2em
			padding-right: 2em
			padding-bottom: 5em
			padding-top: 5em

			img
				position: relative
				width: 30%
				// min-height: 50px


			div.workTitle
				border-bottom: 1px solid $white
				// height: 20%
				position: relative
				display: inline-block
				width: 70%
				padding: 0

				h1
					text-transform: uppercase
					font-size: 2em
				h2
					font-size: 1em
					font-weight: lighter
			p
				text-align: left
				width: 70%
				padding-bottom: 1em

		li:nth-child(2n+0)
			img
				float: left
				padding-right: 1em

			div.workTitle
				float: left
				text-align: right
			p
				float: left

		li:nth-child(2n+1)
			img
				padding-left: 1em
				float: right

			div.workTitle
				float: right
				text-align: left
			p
				float: right
